{% extends 'base.html.twig' %}

{% block title %}Hello BugController!{% endblock %}

{% block body %}
  <main class="container">
    <h1 class="mb-3">{{ bug.title }}</h1>

    {% for comment in bug.comments %}
    <div class="card my-3">
      <div class="card-header d-flex">
        {{ comment.creator.fullName }}
        <span class="ml-auto">{{ comment.time | format_datetime() }}</span>
      </div>
      <div class="card-body">
        {{ comment.text | nl2br }}
      </div>
    </div>
    {% endfor %}
  </main>
{% endblock %}
