{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
  <div class="bg-ligh py-3 border-bottom">
    <div class="container text-center">
      <h1>Welcome</h1>
      <p>Name to be defined is a friendly reader for your bugzilla bugs.</p>
    </div>
  </div>
  <main class="container">
    <div class="row my-4">
      <div class="col-12 col-md-6">
        <a class="card" href="{{ path("app_products") }}">
          <div class="card-header">
            Browse bugs
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-header">
            TODO
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
