{% extends 'base.html.twig' %}

{% block title %}Component {{ component.name }}{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ component.product.name }}</h1>
    <h2>{{ component.name }}</h2>
    <ul>
      {% for bug in component.bugs %}
        <li><a href="{{ path("app_bug", {"displayId": bug.displayId}) }}">{{ bug.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
