{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
  <main class="container">
    <h1>Products</h1>
    <ul>
      {% for product in products %}
        <li><a href="{{ path('app_product', {'name': product.name}) }}">{{ product.name }}</a></li>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
