{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block body %}
  <div class="container">
    <h1>{{ product.name }}</h1>
    <ul>
      {% for component in product.components %}
        <li><a
              href="{{ path('app_component', {'nameProduct': product.name, 'nameComponent': component.name }) }}">{{ component.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
