<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
  {% endblock %}
</head>
<body>
<header class="header">
  <nav class="navbar navbar-collapse-md">
    <a aria-label="KDE Homepage" class="kde-logo navbar-brand active" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path("app_products") }}">Products</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js"></script>
{% endblock %}
</body>
</html>
